@media print {
    .noPrint {
        display: none;
    }
	


	
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-y: scroll;
}

@page {
 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 0mm 8mm 0.18mm 8mm;
}

body {
    /* this affects the margin on the content before sending to printer */
    margin: 0px;
}

table {
    font-size: 11px;
}

.address {
    font-size: 10.5px;
	word-wrap:break-word;
	text-align:justify;
}

.amount-to-word {
    font-size: 12px;
    font-weight: bold;
}
.terms{
	font-size: 13px;    
	text-align:center;
}

.customer {
	font-size: 11px;
	margin-bottom:20px;
}

.invoice_footer {
    font-size: 9px;
    text-align: center;
    margin-top: 30px;
}

