@import url("bootstrap.min.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
font-family:'Open Sans', sans-serif!important;
margin: 0px;
padding: 0px;
}

html,body {
height:100%;
}


#wrap {
min-height:100%;
height:auto!important;
margin:0 auto -100px;
}

#push,#footer {
height:100px;
}

#footer {
background-color:#f5f5f5;
}

/* Main Content */

.pageTitle {
	color:#6A6A6A;
 }
.error {
	
	color:#FF0000;
	font-size:12px;
}

/* End of Main Content */



/* Form */
label {
	font-weight: 500 !important;
}

.control-label {
	font-weight: 500 !important;
}
/* End of Form */


/* Icon */

.glyphicon-ok{
	color:#090;
}

.colborder {padding-right:24px;margin-right:25px;border-right:1px solid #ddd;}

#gtable th, td {
	font-size:12px;	
}
.dataTable{
	font-size:12px;	
}



/* Navigation Menu */
.navbar-nav > li:hover > .dropdown-menu {
  display: block;
}

.nav , .menu-item {
font-size:12.5px !important;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


/* End of Navigation Menu */



/* Both Left and Top Menu */
.navbar-default {
    background-color: #002050;
    border-color: #002050;

    
}
.navbar {
    border-radius: 4px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
/*
.navbar-default .navbar-nav > li a {
    color: white;
    background-color: transparent;
}
*/
.menu-head > a {
	color: white !important;
    background-color: transparent !important;
}

.menu-head > a :hover {
	color: #333;
    background-color: red;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: #002864;
}

.navbar-brand {
	color: white !important;
}
.navbar {
    border-radius: 0px !important;
}

.drawer-toggle {
    display: block;
    visibility: visible;
    z-index: 1000;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    position: fixed;
    left: 0px;
    top: 0px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
    color: #FFF;
    border: medium none;
    border-radius: 0px 0px 4px;
    font-size: 24px;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #222;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

/* End of Both Left and Top Menu */	
