.btn-outline-default {
  background-color: transparent;
  border: 1px solid #555555;
  color: #555555;
}
.btn-outline-default:focus {
  color: #555555;
  border: 1px solid #555555;
  outline: none;
}
.btn-outline-default:hover,
.btn-outline-default:active,
.btn-outline-default.active {
  color: #ffffff;
  background-color: #555555;
  border: 1px solid #555555;
}
.btn-outline-primary {
  background-color: transparent;
  border: 1px solid #428bca;
  color: #428bca;
}
.btn-outline-primary:focus {
  color: #428bca;
  border: 1px solid #428bca;
  outline: none;
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary.active {
  color: #ffffff;
  background-color: #428bca;
  border: 1px solid #428bca;
}
.btn-outline-success {
  background-color: transparent;
  border: 1px solid #5cb85c;
  color: #5cb85c;
}
.btn-outline-success:focus {
  color: #5cb85c;
  border: 1px solid #5cb85c;
  outline: none;
}
.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success.active {
  color: #ffffff;
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
}
.btn-outline-info {
  background-color: transparent;
  border: 1px solid #5bc0de;
  color: #5bc0de;
}
.btn-outline-info:focus {
  color: #5bc0de;
  border: 1px solid #5bc0de;
  outline: none;
}
.btn-outline-info:hover,
.btn-outline-info:active,
.btn-outline-info.active {
  color: #ffffff;
  background-color: #5bc0de;
  border: 1px solid #5bc0de;
}
.btn-outline-warning {
  background-color: transparent;
  border: 1px solid #f0ad4e;
  color: #f0ad4e;
}
.btn-outline-warning:focus {
  color: #f0ad4e;
  border: 1px solid #f0ad4e;
  outline: none;
}
.btn-outline-warning:hover,
.btn-outline-warning:active,
.btn-outline-warning.active {
  color: #ffffff;
  background-color: #f0ad4e;
  border: 1px solid #f0ad4e;
}
.btn-outline-danger {
  background-color: transparent;
  border: 1px solid #d9534f;
  color: #d9534f;
}
.btn-outline-danger:focus {
  color: #d9534f;
  border: 1px solid #d9534f;
  outline: none;
}
.btn-outline-danger:hover,
.btn-outline-danger:active,
.btn-outline-danger.active {
  color: #ffffff;
  background-color: #d9534f;
  border: 1px solid #d9534f;
}
.btn-outline-white {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.btn-outline-white:focus {
  color: #ffffff;
  border: 1px solid #ffffff;
  outline: none;
}
.btn-outline-white:hover,
.btn-outline-white:active,
.btn-outline-white.active {
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
@media (min-width: 480px) {
  .column {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .column [class*="col-"] {
    display: table-cell;
  }
  .column-gutter {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .column-gutter .column {
    border-spacing: 1rem 0;
  }
  .col-1 {
    width: 8.33333333%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-12 {
    width: 100%;
  }
}
.column-valign-middle [class*="col-"] {
  vertical-align: middle;
}
.drawer {
  position: fixed;
  height: 100%;
  width: 280px;
  top: 0;
  left: 0;
  overflow: hidden;
}
.drawer-overlay {
  position: relative;
  left: 0;
}
.drawer-open {
  overflow: hidden;
  overflow-x: hidden !important;
}
.drawer-open .drawer {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.drawer-open .drawer-overlay {
  position: absolute;
  overflow-x: hidden;
  left: 280px;
  width: 100%;
}
.drawer-open .drawer-toggle {
  left: 280px;
}
.drawer-toggle {
  display: block;
  visibility: visible;
  z-index: 1000;
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  position: fixed;
  left: 0px;
  top: 0px;
  background: #000;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  font-size: 24px;
}
.drawer-toggle:hover {
  cursor: pointer;
  border: none;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.drawer-toggle:focus {
  border: none;
}
.drawer-default {
  background-color: #222222;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.5);
}
.drawer-default + .drawer-overlay {
  -webkit-transition: left 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: left 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: left 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #fff;
}
.drawer-default .drawer-brand a {
  padding: 20px 15px;
  color: #fff;
  display: block;
  width: 100%;
  font-size: 22px;
}
.drawer-default .drawer-brand a:hover {
  color: #555555;
  text-decoration: none;
}
.drawer-default .drawer-nav li a {
  padding: 15px;
  color: #888;
}
.drawer-default .drawer-nav li a:hover {
  background-color: #333;
}
.drawer-default .drawer-nav li ul a {
  padding: 8px 20px;
}
/*
@media (min-width: (@screen-tablet - 1)) { // 768px以下
  .drawer-toggle{
    display: none;
    visibility: hidden;
  }
}
@media (min-width: @screen-tablet) { // 768px以上
  .drawer{
    width:@drawer-width-tablet !important;
  }
  .drawer-overlay{
    margin-left:@drawer-width-tablet;
  }
}
@media (min-width: @screen-lg-desktop) { // 1200px以上
  .drawer{
    width:@drawer-width!important;
  }
  .drawer-overlay{
    margin-left:@drawer-width;
  }
}
*/
.drilldown [data-level="1"] td:first-child {
  padding-left: 10px;
}
.drilldown [data-level="2"] td:first-child {
  padding-left: 20px;
}
.drilldown [data-level="3"] td:first-child {
  padding-left: 30px;
}
.drilldown [data-level="4"] td:first-child {
  padding-left: 40px;
}
.drilldown [data-level="5"] td:first-child {
  padding-left: 50px;
}
.drilldown [data-level="6"] td:first-child {
  padding-left: 60px;
}
.drilldown [data-level="7"] td:first-child {
  padding-left: 70px;
}
.drilldown [data-level="8"] td:first-child {
  padding-left: 80px;
}
.drilldown [data-level="9"] td:first-child {
  padding-left: 90px;
}
.drilldown [data-level="10"] td:first-child {
  padding-left: 100px;
}
.drilldown-toggle {
  color: #428bca;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.drilldown-toggle:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
.drilldown-toggle.dd-open {
  background-color: #f5f5f5;
}
.drilldown-toggle.dd-open:hover {
  background-color: #f9f9f9;
}
.switcher {
  position: relative;
  border: 1px #dddddd solid;
  border-bottom: none;
}
.switcher:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.switcher:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 1px #dddddd solid;
}
.switcher-head {
  padding: 15px 20px;
  border: 1px #dddddd solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: bold;
}
.switcher-header {
  border-bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.2;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.switcher-header:hover {
  background-color: #eee;
}
.switcher-header .switcher-header-col {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}
.switcher-header .switcher-header-col:first-child {
  padding-left: 20px;
}
.switcher-header .switcher-header-col:last-child {
  padding-right: 20px;
}
.switcher-toggle {
  color: #3271a8;
}
.switcher-toggle:hover {
  cursor: pointer;
}
.switcher-body {
  opacity: 0;
  overflow: hidden;
  height: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.switcher-body-inner {
  padding: 10px 20px;
}
.switcher-open {
  -webkit-box-shadow: 0 1px 6px #94bcdf;
  box-shadow: 0 1px 6px #94bcdf;
  z-index: 1;
  border: 1px #dddddd solid;
  border-bottom: none;
}
.switcher-open .switcher-body {
  opacity: 1;
  height: auto;
}
.switcher-open .switcher-header {
  background-color: #f5f5f5;
  border-bottom: 1px #dddddd solid;
}
.slidebar {
  position: fixed;
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slidebar-toggle {
  position: absolute;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  color: #428bca;
  border: 1px #dddddd solid;
  font-size: 12px;
  z-index: 101;
}
.slidebar-toggle:hover {
  cursor: pointer;
  color: #222222;
}
.slidebar-body {
  background: #fff;
  background-image: rgba(255, 255, 255, 0.8);
  overflow-y: auto;
  color: #222222;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.slidebar-body::-webkit-scrollbar {
  width: 8px;
  background-color: #eeeeee;
  border-left: 1px solid #d5d5d5;
  z-index: 2000;
}
.slidebar-body::-webkit-scrollbar:hover {
  background-color: #ffffff;
}
.slidebar-body::-webkit-scrollbar-thumb {
  background-color: #999999;
}
.slidebar-body::-webkit-scrollbar-thumb:hover {
  background-color: #737373;
}
.slidebar-body .slidebar-resize {
  position: absolute;
}
.slidebar-body .slidebar-resize:hover,
.slidebar-body .slidebar-resize:active,
.slidebar-body .slidebar-resize:focus {
  background-color: #eeeeee;
}
.slidebar-body-inner {
  padding: 20px;
}
.slidebar-bottom {
  bottom: -1px;
  left: 0;
  width: 100%;
}
.slidebar-bottom .slidebar-toggle {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  right: 30px;
  top: -43px;
  border-bottom: none;
  padding: 12px 20px;
  border-top: 3px solid #428bca;
}
.slidebar-bottom .slidebar-toggle:hover {
  border-top: 3px solid #dddddd;
}
.slidebar-bottom .slidebar-body {
  border-top: 1px #dddddd solid;
  width: 100%;
  z-index: 100;
}
.slidebar-bottom .slidebar-body .slidebar-resize {
  width: 100%;
  height: 10px;
  top: 4px;
}
.slidebar-bottom .slidebar-body .slidebar-resize:hover,
.slidebar-bottom .slidebar-body .slidebar-resize:active,
.slidebar-bottom .slidebar-body .slidebar-resize:focus {
  cursor: row-resize;
}
.slidebar-right {
  top: 0px;
  right: -1px;
  height: 100%;
}
.slidebar-right .slidebar-toggle {
  margin-top: 100px;
  left: -70px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  padding: 20px 12px;
  border-left: 3px solid #428bca;
  border-right: none;
  -webkit-writing-mode: vertical-rl;
  writing-mode: tb-rl;
  direction: ltr;
}
.slidebar-right .slidebar-toggle:hover {
  border-left: 3px solid #dddddd;
}
.slidebar-right .slidebar-body {
  height: 100%;
  border-left: 1px #dddddd solid;
  padding-bottom: 10px;
}
.slidebar-right .slidebar-body .slidebar-resize {
  width: 10px;
  height: 100%;
  position: fixed;
  margin-left: 4px;
  top: 0;
}
.slidebar-right .slidebar-body .slidebar-resize:hover,
.slidebar-right .slidebar-body .slidebar-resize:active,
.slidebar-right .slidebar-body .slidebar-resize:focus {
  cursor: col-resize;
}
.inputcounter.warning {
  border-color: #8a6d3b;
  color: #8a6d3b;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(138, 109, 59, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(138, 109, 59, 0.6);
}
.inputcounter.error {
  border-color: #a94442;
  color: #a94442;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169, 68, 66, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169, 68, 66, 0.6);
}
/*# sourceMappingURL=cooker.css.map */